ul.form-list textarea,
ul.form-list input[type="number"],
ul.form-list input[type="password"],
ul.form-list input[type="text"] {
  display: inline-block;
}

#customFooter {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  width: 70%;
}

#customFooter .mdl-grid {
  padding: 0;
}

#customFooter .mdl-grid.ack {
 /* margin-top: -1.5em;*/
}

#customFooter .mdl-cell {
  margin: 0;
}

#customFooter .mdl-cell.privacy {
  margin: auto !important;
}

#cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  text-align: left;
  border: 1px solid #90929D;
  background: #eee;
  padding: 20px;
}
#cookies * {
  font: 400 14px/20px 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
#cookies p {
  margin: 0;
  padding: 0;
  position: relative;
}
#cookies .cookies-ok {
  background: #0a559c;
  border: 1px solid transparent;
  color: white;
  display: block;
  float: right;
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 0 20px;
  padding: 10px;
  text-transform: uppercase;
}
#cookies .cookies-ok:hover {
  text-decoration: none;
  opacity: 0.9;
}
#navigation-drawer{
height:auto;
}
#main-menu{
padding: 0 0 0em 0;
}
